<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="css/tasks.css">

<div class="task">
  <div class="taskCreatorflow"></div>
  <div class="taskCreator">
    <h2>Crie suas tarefas.</h2>
    <form action="mytasks/create" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Nome da tarefa:</label>
      <input type="text" name="taskname" placeholder="Tarefa">
      <label>Descrição: <span class="instructions">(opcional)</span></label>
      <textarea name="description" cols="30" rows="10"></textarea>
      <label>Defina a prioridade:</label>
      <div class="priority-container">
        <div class="priorities active-priority">1<span class="material-symbols-outlined">flag</span></div>
        <div class="priorities">2<span class="material-symbols-outlined">flag</span></div>
        <div class="priorities">3<span class="material-symbols-outlined">flag</span></div>
        <div class="priorities">4<span class="material-symbols-outlined">flag</span></div>
        <div class="priorities">5<span class="material-symbols-outlined">flag</span></div>
      </div>
      <button class="task-button">Criar tarefa</button>
    </form>
  </div>
  <div class="taskView">
    <% if(tasks[0]){ %> 
      <p class="instructions second-instructions">Para marcar uma tarefa como <span class="done-word">concluída</span>, clique na mesma.</p>
    <% } else { %>
      <p class="instructions first-instructions">Quando você criar tarefas elas aparecerão aqui.</p> 
    <% } %> 
    <div class="onePriority">
      <% for(let task of tasks){ %>
        <% if(task.priority === '1'){ %>
          <div class="taskBox <% if(task.state === 'done'){ %><%= 'done' %><% } %> priority-<%= order[task.priority-1] %>" onclick="Mark.done(this)" data-csrf="<%= csrfToken %>">
            <div class="done-flag"><span class="material-symbols-outlined">done</span></div>
            <div class="taskname-view">
              <h3 class="taskname"><%= task.taskname %></h3>
            </div>
            <div class="description-view">
              <p>
                <%= task.description %>
              </p>
            </div>
            <div class="priority-view"><%= task.priority %><span class="material-symbols-outlined">flag</span></div>
            <div class="delete-flag" onclick="Mark.delete(this.parentElement)"><span class="material-symbols-outlined">delete</span></div>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="twoPriority">
      <% for(let task of tasks){ %>
        <% if(task.priority === '2'){ %>
          <div class="taskBox <% if(task.state === 'done'){ %><%= 'done' %><% } %> priority-<%= order[task.priority-1] %>" onclick="Mark.done(this)" data-csrf="<%= csrfToken %>">
            <div class="done-flag"><span class="material-symbols-outlined">done</span></div>
            <div class="taskname-view">
              <h3 class="taskname"><%= task.taskname %></h3>
            </div>
            <div class="description-view">
              <p>
                <%= task.description %>
              </p>
            </div>
            <div class="priority-view"><%= task.priority %><span class="material-symbols-outlined">flag</span></div>
            <div class="delete-flag" onclick="Mark.delete(this.parentElement)"><span class="material-symbols-outlined">delete</span></div>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="threePriority">
      <% for(let task of tasks){ %>
        <% if(task.priority === '3'){ %>
          <div class="taskBox <% if(task.state === 'done'){ %><%= 'done' %><% } %> priority-<%= order[task.priority-1] %>" onclick="Mark.done(this)" data-csrf="<%= csrfToken %>">
            <div class="done-flag"><span class="material-symbols-outlined">done</span></div>
            <div class="taskname-view">
              <h3 class="taskname"><%= task.taskname %></h3>
            </div>
            <div class="description-view">
              <p>
                <%= task.description %>
              </p>
            </div>
            <div class="priority-view"><%= task.priority %><span class="material-symbols-outlined">flag</span></div>
            <div class="delete-flag" onclick="Mark.delete(this.parentElement)"><span class="material-symbols-outlined">delete</span></div>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="fourPriority">
      <% for(let task of tasks){ %>
        <% if(task.priority === '4'){ %>
          <div class="taskBox <% if(task.state === 'done'){ %><%= 'done' %><% } %> priority-<%= order[task.priority-1] %>" onclick="Mark.done(this)" data-csrf="<%= csrfToken %>">
            <div class="done-flag"><span class="material-symbols-outlined">done</span></div>
            <div class="taskname-view">
              <h3 class="taskname"><%= task.taskname %></h3>
            </div>
            <div class="description-view">
              <p>
                <%= task.description %>
              </p>
            </div>
            <div class="priority-view"><%= task.priority %><span class="material-symbols-outlined">flag</span></div>
            <div class="delete-flag" onclick="Mark.delete(this.parentElement)"><span class="material-symbols-outlined">delete</span></div>
          </div>
        <% } %>
      <% } %>
    </div>
    <div class="fivePriority">
      <% for(let task of tasks){ %>
        <% if(task.priority === '5'){ %>
          <div class="taskBox <% if(task.state === 'done'){ %><%= 'done' %><% } %> priority-<%= order[task.priority-1] %>" onclick="Mark.done(this)" data-csrf="<%= csrfToken %>">
            <div class="done-flag"><span class="material-symbols-outlined">done</span></div>
            <div class="taskname-view">
              <h3 class="taskname"><%= task.taskname %></h3>
            </div>
            <div class="description-view">
              <p>
                <%= task.description %>
              </p>
            </div>
            <div class="priority-view"><%= task.priority %><span class="material-symbols-outlined">flag</span></div>
            <div class="delete-flag" onclick="Mark.delete(this.parentElement)"><span class="material-symbols-outlined">delete</span></div>
          </div>
        <% } %>
      <% } %>
    </div>    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="js/priorityTask.js"></script>
  <script src="js/task.js"></script>
  <script src="js/markTask.js"></script>
</div>

<%- include('includes/footer') %> 